@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body :-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}
body ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
body ::-webkit-scrollbar-thumb {
  background: rgb(27, 42, 42);
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 36, 36);
}
@media screen and (max-width: 768px) {
  body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }
}
body .container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(20, 20, 20);
}
body .container header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  transition: background 250ms ease-in;
  height: 80px;
  border-bottom: 3px whitesmoke;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  color: var(--text);
}
body .container header .logo {
  background: url("logoBg.png");
}
body .container header img {
  height: 50px;
  background: transparent;
}
body .container header .primary-nav {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 0px 40px;
}
body .container header ul {
  list-style-type: none;
}
body .container header a {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.5em;
}
body .container header .active a {
  font-weight: 700;
  color: #00ffff;
}
body .container header .mobile-nav-toggle {
  display: none;
}
@media (max-width: 750px) {
  body .container header .primary-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: #1b1b1b;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    padding: min(20vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }
  body .container header .primary-nav[data-visible=true] {
    transform: translateX(0%);
  }
  body .container header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("menu-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 1.1rem;
    aspect-ratio: 1;
    top: 1.6rem;
    right: 3rem;
  }
  body .container header .mobile-nav-toggle[aria-expanded=true] {
    background: url("close-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
  }
  @supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
    body .container header .primary-nav {
      z-index: 1000;
      background: hsla(0deg, 0%, 70%, 0.1);
      -webkit-backdrop-filter: blur(1rem);
              backdrop-filter: blur(1rem);
    }
  }
}
body .container .onScroll {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: #040c0f;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  background: var(--background);
  transition: background 250ms ease-in;
  height: 100px;
  border-bottom: 3px whitesmoke;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  color: var(--text);
}
body .container section {
  padding: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 4em 10px;
  scroll-snap-align: start;
  scroll-margin-top: 100px;
}
body .container section:nth-of-type(1) {
  background-image: url("bgImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 100vh;
}
body .container section:nth-of-type(2) {
  background-color: #040c0f;
  color: blue;
  height: calc(100vh - 100px);
}
body .container section:nth-of-type(3) {
  background-color: #040c0f;
  color: green;
  height: calc(100vh - 100px);
}
body .container section h1 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 700;
  font-size: 6em;
  color: #60fcf1;
  margin-right: 10px;
}
body .container section h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-align: center;
  opacity: 0.9;
  z-index: 0;
  font-size: 1.3em;
  max-width: 50%;
}
body .container section .title-tag {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container section .title-tag h3 {
  font-family: "Albert Sans", sans-serif;
  opacity: 0.9;
  font-size: 2em;
  max-width: 100%;
  text-align: center;
  margin: 0px 0px;
}
@media (max-width: 750px) {
  body .container section .title-tag h3 {
    font-weight: 500;
    opacity: 0.9;
    font-size: 1.3em;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 750px) {
  body .container section h1 {
    font-family: "Albert Sans", sans-serif;
    font-size: 4em;
    max-width: 95%;
    color: #60fcf1;
  }
  body .container section h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    opacity: 0.9;
    font-size: 1.3em;
    max-width: 80%;
    text-align: justify;
  }
}
body .container section .scroll-img {
  opacity: 0.2;
}/*# sourceMappingURL=main.css.map */