@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}
body :-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}
body ::-webkit-scrollbar {
  width: 5px;
}
body ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
body ::-webkit-scrollbar-thumb {
  background: rgb(27, 42, 42);
}
body ::-webkit-scrollbar-thumb:hover {
  background: rgb(16, 36, 36);
}
@media screen and (max-width: 750px) {
  body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }
}
body .container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #040c0f;
}
body .container header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 250ms ease-in;
  height: 100px;
  border-bottom: 3px whitesmoke;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  color: var(--text);
}
body .container header .logo {
  background: url("images/logo.jpg");
}
body .container header img {
  height: 50px;
}
body .container header .primary-nav {
  display: flex;
  flex-direction: row;
  gap: 0px 40px;
}
body .container header ul {
  list-style-type: none;
}
body .container header a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.5em;
  font-family: "Roboto Condensed", sans-serif;
}
body .container header .active a {
  font-weight: 700;
  color: cyan;
}
body .container header .mobile-nav-toggle {
  display: none;
}
@media (max-width: 750px) {
  body .container header .primary-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: #1b1b1b;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    padding: min(20vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }
  body .container header .primary-nav[data-visible=true] {
    transform: translateX(0%);
  }
  body .container header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 1.1rem;
    aspect-ratio: 1;
    top: 1.2rem;
    right: 1.5rem;
  }
  body .container header .mobile-nav-toggle[aria-expanded=true] {
    background: url("../images/close-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
  }
  @supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
    body .container header .primary-nav {
      background: hsla(0, 0%, 70%, 0.1);
      -webkit-backdrop-filter: blur(1rem);
              backdrop-filter: blur(1rem);
    }
  }
}
body .container .onScroll {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: #040c0f;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 0px;
  background: var(--background);
  transition: background 250ms ease-in;
  height: 60px;
  border-bottom: 3px whitesmoke;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  color: var(--text);
}
body .container .blank-space {
  height: 60px;
}
body .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .container .content h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 40px 0 20px 0;
  max-width: 80%;
  text-align: center;
}
body .container .content img {
  max-width: 80%;
  max-height: 80vh;
  margin: 20px 0 20px 0;
}
body .container .content p {
  padding: 0 10% 0 10%;
  text-align: justify;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}
body .container .content label {
  color: rgba(255, 255, 255, 0.7803921569);
}
@media (max-width: 750px) {
  body .container .content h1 {
    font-size: 25px;
  }
  body .container .content p {
    font-size: 20px;
  }
}
body .container .footer-flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  height: 20vh;
}
@media (max-width: 750px) {
  body .container .footer-flex-row-container {
    height: -moz-max-content;
    height: max-content;
  }
}
body .container .footer-flex-row-container .left-footer h2 {
  color: #f4f4f4;
  margin: 0;
  font-size: 20px;
  font-family: "Albert Sans", sans-serif;
}
body .container .footer-flex-row-container .left-footer h3 {
  color: #60fcf1;
  margin: 0;
  font-size: 20px;
  font-family: "Albert Sans", sans-serif;
}
body .container .footer-flex-row-container .middle-footer h2 {
  color: #f4f4f4;
  margin: 0;
  font-size: 40px;
  font-family: "Albert Sans", sans-serif;
  text-align: center;
}
body .container .footer-flex-row-container .right-footer .logo img {
  height: 60px;
}
@media (max-width: 750px) {
  body .container .footer-flex-row-container {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
  }
  body .container .footer-flex-row-container .middle-footer h2 {
    font-size: 25px;
  }
}/*# sourceMappingURL=blog1.css.map */