/* Reset to none */

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    font-family: 'Ubuntu', sans-serif;
    
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(65, 65, 65); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}


/* Header Css starts here */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #272727;
}

.sticky + .content {
    padding-top: 102px;
}


.header{
    padding: 10px 0px 10px 0px;
    background-color: #272727;
    color: aliceblue;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.header h1{
    float: left;
    padding-left: 30px;
}

.header img{
    float: left;
    padding-left: 30px;
}

.header-links{
    float: right;
    padding-right: 20px;
    vertical-align: middle;
}


.header-links a{
    color: aliceblue;
    float: left;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: 500;

}

.header-links a:hover{
    color: rgb(228, 128, 12);
    float: left;
    text-decoration:underline;
    /* font-size: 25px; */
    padding: 10px 20px 10px 20px;
    transition: all 0.5s ease;
    font-weight: 700;
}

/* Body css starts here */



.content {
    margin: 30px 20% 30px 20%;
}

.content h1 {
    padding: 20px 0 20px 0;
    font-weight: 700;
}

.content img {
    padding: 20px 0 20px 0;
    max-width: 80%;
}

.content p {
    padding: 20px 0 20px 0;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}


/* User card */





/* Footer css starts here */