@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body :-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}
body ::-webkit-scrollbar {
  width: 5px;
  -webkit-appearance: none;
}
@media screen and (max-width: 768px) {
  body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
  }
}
body .container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(20, 20, 20);
}
body .container header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 250ms ease-in;
  height: 100px;
  border-bottom: 3px whitesmoke;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  color: var(--text);
}
body .container header .logo {
  background: url("logoBg.png");
}
body .container header img {
  height: 50px;
  background: transparent;
}
body .container header .primary-nav {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 0px 40px;
}
body .container header ul {
  list-style-type: none;
}
body .container header a {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.5em;
}
body .container header .active a {
  font-weight: 700;
  color: #00ffff;
}
body .container header .mobile-nav-toggle {
  display: none;
}
@media (max-width: 750px) {
  body .container header .primary-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: #1b1b1b;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    padding: min(20vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }
  body .container header .primary-nav[data-visible=true] {
    transform: translateX(0%);
  }
  body .container header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 1.1rem;
    aspect-ratio: 1;
    top: 1.2rem;
    right: 1.5rem;
  }
  body .container header .mobile-nav-toggle[aria-expanded=true] {
    background: url("../images/close-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
  }
  @supports ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))) {
    body .container header .primary-nav {
      z-index: 1000;
      background: hsla(0, 0%, 70%, 0.1);
      -webkit-backdrop-filter: blur(1rem);
              backdrop-filter: blur(1rem);
    }
  }
}
body .container .onScroll {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: #040c0f;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 0px;
  background: var(--background);
  transition: background 250ms ease-in;
  height: 60px;
  border-bottom: 3px whitesmoke;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  color: var(--text);
}
body .container .blank-container {
  height: 60px;
}
body .container .gallery-name {
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  font-family: "Albert Sans", sans-serif;
  font-size: 30px;
  text-align: center;
}
body .container .gallery {
  height: 300px;
  color: #040c0f;
  margin: 20px 20%;
}
@media (max-width: 750px) {
  body .container .gallery {
    height: 250px;
    margin: 20px 10px;
  }
}
body .container .swiper {
  width: 100%;
  height: 100%;
}
body .container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
body .container .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
body .container .gallery1 .img1 {
  background: red;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .container .gallery1 .img2 {
  background: url(../images/ST\ Andrew\ Church.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body .container .gallery2 .img1 {
  background: violet;
}
@media (min-width: 750px) {
  body .container .blank-container {
    height: 70px;
  }
}/*# sourceMappingURL=gallery.css.map */